.container {
  max-width: 1400px;
  height: 100vh;
  padding: 0 9rem;
  background-image: url("../../assets/Illustration.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 0;
}