.container {
  display: flex;
  justify-content: center;
}


.maxWidth {
  display: flex;
  align-items: center;
  flex: 1;

  max-width: 1366px;
  padding: 2.5rem 9rem;
  gap: 2.5rem;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  small {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
  }
}

.copy {
  gap: 1rem;
  color: var(--title);
}

.links {


  color: var(--placeholder);
}